<nav class="site-nav">
  <div class="site-title"><h1>{{siteTitle}}</h1></div>
  <ul>
    <li><a class="nav-item" href="/">home</a></li>
    <li><a href="/contact"></a>Contact</li>
    <li> <a href="/photoshop"></a>Photoshop</li>
  </ul>
</nav>
